<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de IOT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">IOT</a>
    </nav>
    
    <div class="container">
        <div class="col-md-5">
           <div class="card">
               <div class="card-body">
                   <form action="/add" method="POST">
                    <div class="form-group">
                        <input type="text" name="Email" placeholder="Correo Electronico" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="Nom" placeholder="Nombre Completo" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="NomUs" placeholder="Nombre de Usuario" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="Cont" placeholder="Ingresa una contraseña" class="form-control">
                    </div>
                    <button class="btn btn-primary">Registrar</button>

               </div>
               <form>
                <div class="col-md-5">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>Nombre Completo</th>
                                <th>Nombre de Usuario</th>
                                <th>Contraseña</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < Val.lenght; i++){ %>
                                <tr>
                                    <td><%= i+1 %> </td>
                                    <td><%= Val[i].Email %></td>
                                    <td><%= Val[i].Nom %></td>
                                    <td><%= Val[i].NomUs %></td>
                                    <td><%= Val[i].Cont %></td>
                                    <td>
                                        <a href="Del/<%=Val[i].id%>">Eliminar</a>
                                        <a href="/SRC/Routes/index.js/Del/<%=Val[i].id%>">Actualizar</a>
                                    </td>
                                </tr>

                           <% } %>
                        </tbody>
                    </table>
                </div>
            </form>
            </form>
           </div>
        </div>
    </div>
</body>
</html>